.container {
  display: flex;
  flex-direction: row;
  column-gap: 4px;
  align-items: center;
  justify-content: flex-start;
}

.svgBox {
  width: 16px;
  height: 16px;
  stroke: #ffc531;
  fill: #ffc531;
  display: flex;
  align-items: center;
}

.text {
  text-decoration: underline;
  text-underline-position: under;
}
