.container {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  width: 100%;
}
