.scroll {
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  fill: #47546760;
  stroke: #47546760;
  stroke-width: 0;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
