.container {
  display: flex;
  flex-direction: column;
  row-gap: 44px;
  border: 1px solid tomato;
  margin: 0 40px;
  margin-bottom: 40px;
}

.partsHeader {
  border: 1px solid teal;
  height: 48px;
}

.partsBody {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
}

.part {
  display: flex;
  flex-direction: column;
  row-gap: 44px;
  width: calc((100% - 24px) / 2);
}
