.container {
  /* border: 1px solid tomato; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 64px;
  margin: 100px 64px;
  /* width: 100%; */
}

.campers {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 5;
  width: 64%;
}
