.container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 64px;
  margin: 100px 64px;
}

.campers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 64%;
}
