.container {
  background-color: transparent;
  position: relative;
}

.navpanel {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  background-color: #f2f4f7;
  border-bottom: 1px solid #475467;
  font-size: 18px;
}

.navpanel a {
  text-align: center;
  padding: 4px 16px;
  color: #475467;
  background-color: transparent;
  border: 3px solid #f7f7f7;
  border-radius: 8px;
}

a.active {
  color: azure;
  background-color: #475467;
  border: 3px solid #475467;
}
